.transition {
  transition: all 0.3s;
}
input ~ .dot {
  background-color: #ef5350;
}
input:checked ~ .dot {
  transform: translateX(150%);
  background-color: #48bb78;
}
input:checked ~ .dot.no-translate {
  transform: translateX(0%);
  background-color: #48bb78;
}
.hw-font {
  font-family: 'Tangerine', cursive;
}
.std-font {
  font-family: 'Nunito', sans-serif;
}
