.menu-triangl-active {
  transform: rotate(180deg);
}

.menu-triangl {
  height: 10px;
  width: 10px;
  transition: all 0.3s;
}
.main-menu{
  width: 250px;
  z-index: 4;
  max-height: 100vh;
  top: 60px;
}
.container-block::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #8070d4;
  background-clip: content-box;
}
.container-block::-webkit-scrollbar {
  width: 12px;
}

.container-block::-webkit-scrollbar-track {
  background: #ddd;
}
